* {
    margin: 0;
    padding: 0;
}

body {
    width: 1250px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

header h1, header h2 {
    padding-top: 20px;
}

nav {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    height: 50px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

nav ul li:hover {
    background-color: #fff;
}

main {
    display: flex;
    margin-top: 20px;
}

aside {
    width: 20%;
    padding: 20px;
}

aside section {
    margin-top: 20px;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul ul {
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
}

article {
    width: 80%;
    padding: 20px;
}

article img {
    margin: 20px 0;
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid gray;
}
