.tabmenu{
    float: left;
    width: 400px;
    height: 280px;
    margin: 0;
    padding: 0;
    background-color: #F5E4EA;
}
.tabmenu>li{
    float: left;
    width: 100px;
    line-height: 48px;
}
.tabmenu>li.active>a{
    background-color: #444C61;
    color: #F5E4EA;
}
.tabmenu>li>a{
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration-line: none;
}
.tabmenu>li.active div{
    width: 400px;
    height: 280px;
    z-index: 1;
}
.tabmenu>li div{
   position: absolute;
   top: 60px;
   left: 0;
   overflow: hidden; /**하나가 앞에 있을때 뒤에 있는걸 숨김*/
   height: 0;
}
.notice ul{
    float: right;
    width: 380px;
}
.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
}
.notice li span{
    float: right;
}
.notice li:hover{
    font-weight: bold;
}
.gallery li{
    float:left; 
}
.gallery img{
    width: 120px;
    height: 200px;
}
.gallery li:hover{
    opacity: 0.5;
}

li {
    list-style-type: none;
}

#modalContent {
    width: 500px;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #F5E4EA;
    border-radius: 10px;
}
#modalContent h1 {
    margin: 0;
    height: 60px;
    background-color: #444C61;
    font-size: 20px;
    color: #F5E4EA;
}
#modalContent p {
    font-size: 16px;
    line-height: 20px;
    color: #444C61;
}
#modalContent button {
    background-color: #444C61;
    border: none;
    width: 100px;
    height: 50px;
    color: #F5E4EA;
    float: right;
    margin-right: 50px;
    border-radius: 10px;
}

#modalContent.hidden{
    display: none;
}